streamlit 
langchain 
langchain-community 
langchain-core 
langchainhub 
langgraph==0.0.45
langchain-groq 
chromadb 
huggingface-hub 
sentence-transformers 
requests 
python-dotenv 
tiktoken 
typing-extensions 
bs4
