python-dotenv
streamlit
huggingface_hub
langchain
langchain-community
langchain-core
langgraph
langchain-groq
langchain-huggingface
cassio==0.1.4
cassandra-driver==3.25.0
typing-extensions
