streamlit 
langchain 
langchain-community 
langchain-core 
langchainhub 
langgraph 
langchain-groq 
chromadb 
huggingface-hub 
sentence-transformers 
requests 
python-dotenv 
tiktoken 
typing-extensions 
bs4
sqlite3 >= 3.35.0
